/*
* Plugin Name: NS Tweet
* Plugin URI: http://netscripter.info
* Author: NetScripter
* Author URI: http://netscripter.info
* License - GNU/GPL V2 or Later
* Description: Twitter Widget for your Site.
* Version: 1.0
*/

#tweet-options .form-group{
    float: left;
	margin-bottom: 30px;
}

#tweet-options .form-group label{
	width: 150px;
	display: inline-block;
}

#tweet-options .form-group input[type="text"]{
	padding: 15px 10px;
	width: 450px;
	max-width: 100%;
}